<p>
With its Pro service, Nitrous.IO has extended its feature set further still to accommodate users in corporate companies and other organizations with specific requirements. To that end, Pro customers have root access, their IDE can run on dedicated instances, there’s support for Docker (with customization options), and customers can also use their own computing infrastructure.

At its most basic level, Nitrous.IO is a cloud-based integrated development environment (IDE) — but its features go beyond just storing code. By keeping code and development in a single place, it makes processes like setting up an environment possible in 10 minutes — as opposed to hours or even a day — while it allows its “200,000 plus registered users” to collaboratively work and share code just as you’d do with writing inside a Google Doc.
</p>
