<p>
	With its Pro service, Nitrous.IO has extended its feature set further still to accommodate users in corporate companies and other organizations with specific requirements. To that end, Pro customers have root access, their IDE can run on dedicated instances, there’s support for Docker (with customization options), and customers can also use their own computing infrastructure.

	Hello’s caller ID feature could clue you in to whether you want to pick up a call from a number you don’t have saved by showing their name and profile picture — as long as they haven’t changed the default privacy setting that lets people search from using their phone number. You’ll then see whatever info they share publicly or with you, like city, employer, website, and more.
</p>
