<p>
	Hello’s caller ID feature could clue you in to whether you want to pick up a call from a number you 
	Technically, nothing is changing about Facebook privacy, though it does make personal info more readily visible. Hello essentially just runs an immediate Facebook graph search on any number you call or that calls you.


	Hello’s caller ID feature could clue you in to whether you want to pick up a call from a number you don’t have saved by showing their name and profile picture — as long as they haven’t changed the default privacy setting that lets people search from using their phone number. You’ll then see whatever info they share publicly or with you, like city, employer, website, and more.
</p>
