{% extends "index.html" %}
            <!-- /sidebar -->
          
{% block content %}
            <!-- main -->
                    <div class="full col-sm-12">
                        <!-- content -->
                        <div class="col-sm-12" id="stories">  
                          <div class="page-header text-muted divider">
                            Top 10 Article List
                          </div>
                        </div>
                      <!--/top story-->
                        <div class="row">    
                          <small class="text-muted">{{  top.lastupdated}} | <a href="#" class="text-muted">{{ top.authorname }}</a></small>
                          <div class="item" class="col-sm-12">
                          <img class="img-responsive" src="static/images/{{ top.mainimage }}" class="slidImageSize" />
                              {% include top.content %}
                          </div>
                          </div>
                        </div>
                        
                     <div>
                      {% for article in article_list %}
                        <div class="row">    
                          <div class="col-sm-1">
                            <h3>{{ forloop.counter }}</h3>
                          </div>
                          <div class="col-sm-8">
                            <h3>{{ article.articlename }}</h3>
                            <p>{{ article.shortdescription }}</p>
                            <small class="text-muted">{{ article.authorname }},{{ article.lastupdated }} 
                             <a href='/articles/{{ article.articleid }}' class="text-muted">Read More</a>
                          </small>
                          </div>
                        </div>
                      {% endfor %}
                      </div>

                    {% include "related_article.html" %}

                    </div><!-- /col-9 -->
            <!-- /main -->
{% endblock content %}
