{% extends "index.html" %}
            <!-- /sidebar -->
          
{% block content %}
            <!-- /sidebar -->
          
            <!-- main -->
                <div class="padding">
                        <div class="row">    
                          <small class="text-muted">{{ article.lastupdated }} | <a href="#/" class="text-muted">{{ article.authorname }}</a></small>
                          <div class="item" class="col-sm-12">
                          <img class="img-responsive" src="/static/images/{{ article.image.1.artcicleimage }}" class="slidImageSize" />
	                      <div class="row">    
	                      <div class="row">    
                          <div class="col-sm-6">
                              {% include article.content %}
                          </div>
                          <div class="item" class="col-sm-6">
                          <img class="img-responsive" src="/static/images/{{ article.image.0.artcicleimage }}" class="slidImageSize" />
                          </div>
                          </div>
                          </div>
                        </div>
                                                
                    {% include "related_article.html" %}
                       
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            <!-- /main -->
{% endblock content %}
