                        <div class="row">    
                        <div class="col-sm-8">
                          <div class="page-header text-muted divider pager">
                            What to read Next
                            <li ><a href="#"><</a></li>
                            <li ><a href="#">></a></li>
                          </div>
                        </div>
                        </div>

                      <div class="row">    
                      {% for relarticle in objrelarticle %}
                          <div class="col-sm-3 text-center">
                            <h4>{{ relarticle.articleid.articlename }} </h4>
                            <a href="/articles/{{ relarticle.articleid.articleid }}"><img src="/static/images/Related1.jpg" class="img-respsonsive img-square"></a>
                          </div>
                      {% endfor %}
                        </div>
