        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="http://galepartners.com/">
                        Gale Parters
                    </a>
                </li>
                <li>
                    <a href="#" >Nav1
                    <img src="//placehold.it/60/f0f0f0" class="img-respsonsive img-square"></a>
                </li>
                <li>
                    <a href="#">Nav2
                    <img src="//placehold.it/60/f0f0f0" class="img-respsonsive img-square"></a>
                </li>
                <li>
                    <a href="#">Nav3
                    <img src="//placehold.it/60/f0f0f0" class="img-respsonsive img-square"></a>
                </li>
                <li>
                    <a href="#">Nav4
                    <img src="//placehold.it/60/f0f0f0" class="img-respsonsive img-square"></a>
                </li>
                <li>
                    <a href="#">Nav5
                    <img src="//placehold.it/60/f0f0f0" class="img-respsonsive img-square"></a>
                </li>
            </ul>
        </div>
